*{
    font-family: sans-serif;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    background-color: #18181b;
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    max-width: 600px;
    margin-bottom: 30px;
}

.container-input{
    max-width: 480px;
    margin: 14px 0;
    color: white;
}

.container-input span{
    font-size: 22px;
}

.container-input form{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-top: 25px;
    width: 100%;
}

fieldset {
    height: 190px;
    background-color: rgba(0, 0, 0, 0.40);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: white;
    border: 1px solid #313131;
}

.opt {
    padding: 5px;
    margin: 5px;
    display: flex;
    
    
}

.opt label {
    position: relative;
    right: 200px;
}

.check {
    margin-right: 180px;  
}

legend {
    background-color: #3eb72b;
    border: #313131 1px solid;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    height: 30px;
}

.slider{
    width: 100%;
    border-radius: 5px;
    background: #dfdfdf;
    height: 18px;
    outline: none;
    margin-top: 8px;
}


.button-cta{
    height: 40px;
    background-color: #3eb72b;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 40px;
    cursor: pointer;
    transition: transform 0.5s;
}

.button-cta:hover{
    transform: scale(1.05);
}

.container-password{
    width: 480px;
    margin: 14px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;    
}

.title{
    text-align: center;
    color: white;
    font-size: 28px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.password{
    height: 60px;
    background-color: rgba(0, 0, 0, 0.40);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid #313131;
    transition: transform 0.5s;
}

.password:hover{
    transform: scale(1.05);
}

.tooltip{
    color: white;
    position: relative;
    top: 20px;
    padding: 6px 8px;
    background-color: rgb(15, 15, 15);
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}

.hide{
    display: none;
}

.container-password:hover .tooltip{
    visibility: visible;
    opacity: 1;
    bottom: 50px;
}